@media only screen and (min-width: 50px) {
	#More_Items {
		width: 95%;
	}

	#More_Items > ul > li {
		width: 100%;
	}
	#More_Items > ul > li > a img {
		width: 30%;
	}
	#You_May_Like {
		width: 95%;
	}

	#You_May_Like > ul > li {
		width: 100%;
	}
	#You_May_Like > ul > li > a img {
		width: 30%;
	}
	#Specifications {
		width: 95%;
	}
	#Specifications table tr td,
	#Specifications table tr th {
		background-color: white;
	}
	#Specifications table tr td:nth-of-type(1) {
		width: 50%;
		background-color: white;
	}
	#Specifications table tr td:nth-of-type(2) {
		width: 50%;
	}
	#Specifications table tr:nth-child(odd) {
		background-color: #F5F5F5;
	}
	#Additional_Details {
		width: 95%;
	}
	#Comes_Set_With {
		width: 95%;
	}
	#Comes_Set_With table tr td,
	#Comes_Set_With table tr th {
		text-align: left;
		padding: 10px 10px;
		background-color: #F5F5F5;
	}
	#Can_Be_Set_With {
		width: 95%;
	}
	#Can_Be_Set_With #table_can_be {
		display: none;
	}
	#More_info_wrapper {
		width: 95%;
		height: 1440px;
	}
	.More_info_content {
		width: 100%;
		height: 360px;
	}

}

@media only screen and (min-width: 700px) {
	#More_Items {
		width: 95%;
	}

	#More_Items > ul > li {
		width: 33.3333333333%;
	}
	#More_Items > ul > li > a img {
		width: 50%;
	}
	#You_May_Like {
		width: 95%;
	}

	#You_May_Like > ul > li {
		width: 33.3333333333%;
	}
	#You_May_Like > ul > li > a img {
		width: 50%;
	}
	#Specifications {
		width: 95%;
	}
	#Specifications table tr td,
	#Specifications table tr th {
		background-color: white;
	}
	#Specifications table tr td:nth-of-type(1) {
		width: 30%;
		background-color: #F5F5F5;
	}
	#Specifications table tr td:nth-of-type(2) {
		width: 70%;
	}
	#Additional_Details {
		width: 95%;
	}
	#Comes_Set_With {
		width: 95%;
	}
	#Comes_Set_With table tr td,
	#Comes_Set_With table tr th {
		text-align: left;
		padding: 10px 10px;
		background-color: #F5F5F5;
	}
	#Can_Be_Set_With {
		width: 95%;
	}
	#Can_Be_Set_With #table_can_be {
		display: block;
	}

	#Can_Be_Set_With #responsive_table {
		display: none;
	}
	#More_info_wrapper {
		width: 95%;
		height: 720px;
	}

	.More_info_content {
		width: 50%;
		height: 360px;
	}

}

@media only screen and (min-width: 900px) {
	#More_Items {
		width: 95%;
	}

	#More_Items > ul > li {
		width: 25%;
	}
	#More_Items > ul > li > a img {
		width: 50%;
	}
	#You_May_Like {
		width: 95%;
	}

	#You_May_Like > ul > li {
		width: 25%;
	}
	#You_May_Like > ul > li > a img {
		width: 50%;
	}
	#Specifications {
		width: 95%;
	}
	#Specifications table tr td,
	#Specifications table tr th {
		background-color: white;
	}
	#Specifications table tr td:nth-of-type(1) {
		width: 30%;
		background-color: #F5F5F5;
	}
	#Specifications table tr td:nth-of-type(2) {
		width: 70%;
	}
	#Additional_Details {
		width: 95%;
	}
	#Comes_Set_With {
		width: 95%;
	}
	#Comes_Set_With table tr td,
	#Comes_Set_With table tr th  {
		text-align: left;
		padding: 10px 10px;
		background-color: #F5F5F5;
	}
	#Can_Be_Set_With {
		width: 95%;
	}
	#Can_Be_Set_With #table_can_be {
		display: block;
		width: 100%;
	} 
	#Can_Be_Set_With #responsive_table {
		display: none;
	}
	#More_info_wrapper {
		width: 95%;
		height: 900px;
	}
	.More_info_content {
		width: 50%;
		height: 450px;
	}

}
@media only screen and (min-width: 1100px) {
	#More_Items {
		width: 90%;
	}

	#More_Items > ul > li {
		width: 25%;
	}
	#More_Items > ul > li > a img {
		width: 50%;
	}
	#You_May_Like {
		width: 90%;
	}

	#You_May_Like > ul > li {
		width: 25%;
	}
	#You_May_Like > ul > li > a img {
		width: 45%;
	}
	#Specifications {
		width: 90%;
	}
	#Specifications table tr td,
	#Specifications table tr th {
		background-color: white;
	}
	#Specifications table tr td:nth-of-type(1) {
		width: 20%;
		background-color: #F5F5F5;
	}
	#Specifications table tr td:nth-of-type(2) {
		width: 80%;
	}
	#Additional_Details {
		width: 90%;
	}
	#Comes_Set_With {
		width: 90%;
	}
	#Comes_Set_With table tr th{
		background-color: #F5F5F5;
	}
	#Comes_Set_With table tr td{
		background-color: white;
	}
	#Can_Be_Set_With {
		width: 90%;
	}
	#Can_Be_Set_With #table_can_be {
		display: block;
		width: 100%;
	} 
	#Can_Be_Set_With #responsive_table {
		display: none;
	}
	#More_info_wrapper {
		width: 90%;
		height: 360px;
	}
	.More_info_content {
		width: 25%;
		height: 360px;
	}

}
